@page "/Clientes/edit"
@inject Projeto_Blazor_Dupla.Data.ApplicationDbContext DB
@using Projeto_Blazor_Dupla.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
@if (Cliente is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Cliente" OnValidSubmit="UpdateCliente" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Cliente.Id" value="@Cliente.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Cliente.Nome" class="form-control" />
                    <ValidationMessage For="() => Cliente.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dtnascimento" class="form-label">DtNascimento:</label>
                    <InputDate id="dtnascimento" @bind-Value="Cliente.DtNascimento" class="form-control" />
                    <ValidationMessage For="() => Cliente.DtNascimento" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/clientes">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Cliente? Cliente { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Cliente ??= await DB.Clientes.FirstOrDefaultAsync(m => m.Id == Id);

        if (Cliente is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateCliente()
    {
        DB.Attach(Cliente!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ClienteExists(Cliente!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/clientes");
    }

    bool ClienteExists(int id)
    {
        return DB.Clientes.Any(e => e.Id == id);
    }
}
